@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<WebApplication14.Models.Submission>
<h1>Here you can see all the submissions of your class </h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubmissionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignmentsId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h1>@item.SubmissionId</h1>
                </td>
                <td>
                    <h1>@item.StudentId</h1>
                </td>
                <td>
                    <h1>@item.SubmissionDate</h1>
                </td>
                <td>
                    <h1>@item.Feedback</h1>
                </td>
                <td>
                    <h1>@item.AssignmentsId</h1>
                </td>
                <td>
                    <a asp-action="Download" asp-controller="Submission" asp-route-id="@item.SubmissionId">Download</a>
                    <a asp-action="AddGrade" asp-controller="Grades" asp-route-id="@item.SubmissionId">Grade</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<h1>@Model.First().SubmissionDate</h1>